.quote-wrap {
  width: 900px;
  //background: cyan;

  .quote-item-row {

    &.header {
      font-weight: bold;
    }

    >:nth-child(1) {
      width: 150px;

      img {
        width: 150px;
        //justify-content: center;
      }
    }
    >:nth-child(2) {
      width: 470px;
      padding-left: 20px;
      //background: cyan;
    }
    >:nth-child(3) {
      width: 120px;
    }
    >:nth-child(4) {
      width: 100px;
      //background: yellow;
    }
    >:nth-child(5) {
      width: 80px;
      //background: red;
    }

  }

  .customer-info {
    .customer-info-edit {
      > div {
        margin-top: 10px;
      }
    }
  }

  .icon-button {
    cursor: pointer;
    &:hover {
      background: lightgray;
    }
  }

  .error-message {
      color: red;
    }
}
