<div fxLayout="row" style="justify-content: center;">
  <div *ngIf="quote !== undefined" class="quote-wrap mt-3">

    <div fxLayout="row">
      <div style="width: 300px;">
        <a mat-button href="/">
          <mat-icon>arrow_back</mat-icon>
          Home
        </a>
      </div>

      <div style="width: 300px;">
        <button mat-raised-button (click)="generatePDF()">
          <mat-icon>picture_as_pdf</mat-icon>
          Download PDF
        </button>
      </div>

      <div>
          <div>
            <b>Quote Created</b>: <span style="text-decoration: underline;">{{getQuoteDate(quote)}}</span>
          </div>

        <ng-container *ngIf="!quoteIDFormControl; else editQuoteID">
          <div>
            <b>Quote ID</b>: 
            {{quote.customID}}
            <mat-icon class="icon-button ml-2" (click)="startEditQuoteID()">edit</mat-icon>
          </div>
        </ng-container>

        <ng-template #editQuoteID>
          <div>
            <input [formControl]="quoteIDFormControl!">
            <mat-icon class="icon-button ml-1" (click)="saveQuoteID()">check</mat-icon>
            <mat-icon class="icon-button ml-1" (click)="cancelQuoteID()">cancel</mat-icon>
            <div *ngIf="quoteIDFormControl!.invalid && (quoteIDFormControl!.dirty || quoteIDFormControl!.touched)" class="error-message">
              {{ getErrorMessage(quoteIDFormControl!) }}
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div fxLayout="row" class="quote-item-row header mt-5">
      <div>Item</div>
      <div></div>
      <div>Price</div>
      <div>Quantity</div>
      <div>Subtotal</div>
    </div>

    <div *ngFor="let item of this.quote.items">

      <mat-divider class="mt-3"></mat-divider>

      <div class="quote-item-row mt-3" fxLayout="row">


        <div flxLayout>
          <img src="{{item.subStyle.imageURL}}" alt="">
        </div>

        <div style="font-size: 12px;">

          <div style="font-size: 17px;">{{item.subStyle.name}}</div>

          <br>

          <div><b>RO Width</b>: {{getDimensionString(item.dimensions[0])}}"</div>
          <div><b>RO Height</b>: {{getDimensionString(item.dimensions[1])}}"</div>
          <div *ngIf="item.subStyle.extraDimension != undefined"><b>RO {{item.subStyle.extraDimension}}</b>: {{getDimensionString(item.dimensions[2])}}"</div>

          <div class="mt-2"><b>Frame</b>: {{item.frameType}}</div>

          <div fxLayout="row" class="mt-2">
            <div fxLayout="column" style="justify-content: center;"><b>Glass</b></div>
            <div fxLayout="column" class="ml-2">
              <div fxLayout="row">Type: {{item.glassType}}</div>
              <div fxLayout="row">OA: {{item.glassOA}}"</div>
              <div fxLayout="row">Thickness: {{item.glassThickness}}"</div>
              <div fxLayout="row">Spacer Color: {{item.glassSpaceColor}}</div>
            </div>
          </div>

          <div fxLayout="row" class="mt-2">
            <div fxLayout="column" style="justify-content: center;"><b>Grid</b></div>
            <div fxLayout="column" class="ml-3">
              <div fxLayout="row">Type: {{item.gridType}}</div>
              <div *ngIf="item.gridType != 'None'" fxLayout="row">Size: {{item.gridSize}}"</div>
            </div>
          </div>

        </div>

        <div fxLayout="row">

          <ng-container *ngIf="!itemPriceControls[item.id]; else editPrice">
            <div style="font-size: 18px;">
              <b>{{item.price | currency: 'USD' : 'symbol-narrow' : '.0-0'}}</b>
            </div>
            <mat-icon class="icon-button ml-2" (click)="startEditItemPrice(item)">edit</mat-icon>
          </ng-container>

          <ng-template #editPrice>

            <div>
              <input [formControl]="itemPriceControls[item.id]" style="width: 50px;">
              <mat-icon class="icon-button ml-1" (click)="saveItemPrice(item)">check</mat-icon>
              <mat-icon class="icon-button ml-1" (click)="cancelEditItemPrice(item)">cancel</mat-icon>

              <div class="error-message" *ngIf="itemPriceControls[item.id].invalid && (itemPriceControls[item.id].dirty || itemPriceControls[item.id].touched)" class="error-message">
                <!--{{ getErrorMessage(item) }}-->
              </div>
            </div>

          </ng-template>

        </div>

        <div fxLayout="row" class="quantity-wrap">

          <div style="font-size: 18px;">
            <b>{{item.quantity}}</b>
          </div>

          <mat-icon class="icon-button ml-2" (click)="itemInc(item)">add</mat-icon>
          <mat-icon class="icon-button" (click)="itemDec(item)">remove</mat-icon>

        </div>

        <div style="font-size: 18px;">
          <b>{{item.price*item.quantity | currency: 'USD' : 'symbol-narrow' : '.0-0'}}</b>
        </div>
      </div>

      <div class="mt-3">
        <button [routerLink]="'/quote/'+quote.id+'/item/'+item.id" mat-fab extended color="primary">
          <mat-icon>edit</mat-icon>
          Edit
        </button>

        <button mat-fab extended class="ml-2" (click)="deleteItem(item.id)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </div>


    </div>

    <mat-divider class="mt-4"></mat-divider>

    <button [routerLink]="'/quote/'+quote.id+'/new'" class="mt-4" mat-fab extended color="warning">
      <mat-icon>add</mat-icon>
      Add Item
    </button>

    <h3 class="mt-5">
      Customer Info
      <ng-container *ngIf="!customerEditing; else editCustomerBtns">
        <mat-icon class="icon-button ml-2" (click)="startCustomerEditing()">edit</mat-icon>
      </ng-container>
      <ng-template #editCustomerBtns>
        <mat-icon class="icon-button ml-1" (click)="saveCustomerInfo()">check</mat-icon>
        <mat-icon class="icon-button ml-1" (click)="cancelCustomerEditing()">cancel</mat-icon>
      </ng-template>
      
    </h3> 
    
    <div class="customer-info">
      <ng-container *ngIf="!customerEditing; else editCustomer">
        First Name: {{quote.customerInfo.firstName}} <br>
        Last Name: {{quote.customerInfo.lastName}} <br>
        Address: {{quote.customerInfo.address}} <br>
        Phone: {{quote.customerInfo.phone}} <br>
        Email: {{quote.customerInfo.email}} <br>
      </ng-container>
      <ng-template #editCustomer>
        <div class="customer-info-edit">
          <div>First Name: <input [formControl]="customerFirstNameFormControl!"> </div>
          <div>Last Name: <input [formControl]="customerLastNameFormControl!"> </div>
          <div>Address: <input style="width: 400px;" [formControl]="customerAddressFormControl!"> </div>
          <div>Phone: <input [formControl]="customerPhoneFormControl!"> </div>
          <div>Email: <input [formControl]="customerEmailFormControl!"> </div>
        </div>
      </ng-template>
    </div>

    

    <h3 class="mt-5">Summary</h3>

    <div style="font-size: 19px;">

      <div class="mt-2">Subtotal ............... {{quote.subtotal | currency}}</div>

      <div class="mt-2" fxLayout="row">
        <span>Discount................</span>
        <ng-container *ngIf="!discountControl; else editDiscount">
          <span>{{quote.discount | currency: 'USD' : 'symbol-narrow' : '.0-0'}}</span>
          <mat-icon class="icon-button ml-2" (click)="startEditDiscount()">edit</mat-icon>
        </ng-container>
        <ng-template #editDiscount>
          <div>
            <input [formControl]="discountControl!" style="width: 70px;">
            <mat-icon class="icon-button ml-1" (click)="saveDiscount()">check</mat-icon>
            <mat-icon class="icon-button ml-1" (click)="cancelEditDiscount()">cancel</mat-icon>
            <div *ngIf="discountControl!.invalid && (discountControl!.dirty || discountControl!.touched)" class="error-message">
              {{ getErrorMessage(discountControl!) }}
            </div>
          </div>
        </ng-template>
      </div>

      <div class="mt-1" fxLayout="row" >
        <span>Tax ...................... </span>
        <ng-container *ngIf="!taxControl; else editTax">
          <span class="ml-2">{{quote.taxAmount | currency}} ({{quote.tax}}%)</span>
          <mat-icon class="icon-button ml-2" (click)="startEditTax()">edit</mat-icon>
        </ng-container>
        <ng-template #editTax>
          <div>
            <input [formControl]="taxControl!" style="width: 70px;">
            <mat-icon class="icon-button ml-1" (click)="saveTax()">check</mat-icon>
            <mat-icon class="icon-button ml-1" (click)="cancelEditTax()">cancel</mat-icon>
            <div *ngIf="taxControl!.invalid && (taxControl!.dirty || taxControl!.touched)" class="error-message">
              {{ getErrorMessage(taxControl!) }}
            </div>
          </div>
        </ng-template>
      </div>

      <div class="mt-2">Total ..................... {{quote.total | currency}}</div>
    </div>

    <br>

    <mat-divider class="mt-2"></mat-divider>

    <button class="mt-4" mat-raised-button (click)="generatePDF()">
      <mat-icon>picture_as_pdf</mat-icon>
      Download PDF
    </button>

  </div>

</div>
