<div fxLayout="row" style="justify-content: center;">
  <div *ngIf="quote !== undefined" class="quote-wrap mt-3">

    <div fxLayout="row">
      <div style="width: 600px;">
        <a mat-button href="/">
          <mat-icon>arrow_back</mat-icon>
          Back
        </a>
      </div>
      <div>
        <b>Quote Created</b>: {{getQuoteDate(quote)}}
      </div>
    </div>



    <div fxLayout="row" class="quote-item-row header mt-5">
      <div>Item</div>
      <div></div>
      <div>Price</div>
      <div>Quantity</div>
      <div>Subtotal</div>
    </div>

    <div *ngFor="let item of this.quote.items">

      <mat-divider class="mt-3"></mat-divider>

      <div class="quote-item-row mt-3" fxLayout="row">


        <div flxLayout>
          <img src="{{item.subStyle.imageURL}}" alt="">
        </div>

        <div style="font-size: 12px;">

          <div style="font-size: 16px;">{{item.subStyle.name}}</div>

          <br>

          <div><b>RO Width</b>: {{item.dimensions[0]}} "</div>
          <div><b>RO Height</b>: {{item.dimensions[1]}} "</div>

        </div>

        <div>
          1
        </div>

        <div fxLayout="row" class="quantity-wrap">

          <div style="width: 30px;">
            {{item.quantity}}
          </div>

          <mat-icon class="quantity-button" (click)="itemInc(item)">add</mat-icon>
          <mat-icon class="quantity-button" (click)="itemDec(item)">remove</mat-icon>

        </div>
        <div>3</div>
      </div>

      <div class="mt-3">
        <button [routerLink]="'/quote/'+quote.id+'/item/'+item.id" mat-fab extended color="primary">
          <mat-icon>edit</mat-icon>
          Edit
        </button>

        <button mat-fab extended class="ml-2" (click)="deleteItem(item.id)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </div>


    </div>

    <mat-divider class="mt-4"></mat-divider>

    <button [routerLink]="'/quote/'+quote.id+'/new'" class="mt-4" mat-fab extended color="warning">
      <mat-icon>add</mat-icon>
      Add Item
    </button>


  </div>




</div>
