<!-- Styles -->
<div fxLayout="row"  class="wrap">
  <div *ngFor="let style of styles" >
    <div fxLayout="column" class="item" [ngClass]="getStyleClass(style)" (click)="styleClick(style)">
      <img src="{{style.imageURL}}" alt="">
      <div fxLayout="column">{{style.name}}</div>
    </div>
  </div>
</div>



<div *ngIf="currentStyle !== undefined">

  <mat-divider class="mt-2"></mat-divider>

  <!-- Substyles -->
  <div fxLayout="row"  class="wrap sub-style">
    <div *ngFor="let subStyle of currentStyle?.subStyles" >
      <div fxLayout="column" class="item" [ngClass]="getSubStyleClass(subStyle)" (click)="subStyleClick(subStyle)">
        <img src="{{subStyle.imageURL}}">
        <div fxLayout="column">{{subStyle.name}}</div>
      </div>
    </div>
  </div>


</div>


<div *ngIf="currentSubStyle !== undefined" #scrollTo>

  <mat-divider class="mt-5"></mat-divider>

  <!-- Dimensions-->
  <div fxLayout="row" class="mt-2 info">
    <div class="img-wrap" fxLayout="column">
      <img src="{{currentSubStyle.sizeImageURL}}" alt="">
    </div>

    <div fxLayout="column" style="justify-content: center;">
      <div><b>Rough Opening</b><br><br></div>

      <div fxLayout="row">
        <div fxLayout="column" class="size-cell">
          <div>Width (Inches)</div>
          <select [formControl]="dimXControl" [ngClass]="{'error': isRequiredError(dimXControl)}">
            <option value="">Please Select</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <span class="error-message" *ngIf="isRequiredError(dimXControl)">This is a required field</span>
        </div>
        <div fxLayout="column" class="size-cell">
          <div>Height (Inches)</div>
          <select [formControl]="dimYControl" [ngClass]="{'error': isRequiredError(dimYControl)}">
            <option value="">Please Select</option>
            <option value="1">1</option>
            <option value="2">2</option>
          </select>
          <span class="error-message" *ngIf="isRequiredError(dimYControl)">This is a required field</span>
        </div>

        <div fxLayout="column" class="size-cell" *ngIf="currentSubStyle.extraDimension !== undefined">
          <div>{{currentSubStyle.extraDimension}} (Inches)</div>
          <select [formControl]="dimZControl" [ngClass]="{'error': isRequiredError(dimZControl)}">
            <option value="">Please Select</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
          <span class="error-message" *ngIf="isRequiredError(dimZControl)">This is a required field</span>
        </div>


      </div>
    </div>
  </div>

  <div fxLayout="row" style="justify-content: center;">
    <button mat-raised-button (click)="onNext()">Save</button>
  </div>


</div>

