<!-- Styles -->

<h2 class="mt-2" style="text-align: center;">Style</h2>

<div fxLayout="row"  class="wrap">
  <div *ngFor="let style of styles" >
    <div fxLayout="column" class="item" [ngClass]="getStyleClass(style)" (click)="styleClick(style)">
      <img src="{{style.imageURL}}" alt="">
      <div fxLayout="column">{{style.name}}</div>
    </div>
  </div>
</div>



<div *ngIf="currentStyle !== undefined">

  <mat-divider class="mt-2"></mat-divider>

  <h2 class="mt-3" style="text-align: center;">Sub-Style</h2>

  <!-- Substyles -->
  <div fxLayout="row"  class="wrap sub-style">
    <div *ngFor="let subStyle of currentStyle?.subStyles" >
      <div fxLayout="column" class="item" [ngClass]="getSubStyleClass(subStyle)" (click)="subStyleClick(subStyle)">
        <img src="{{subStyle.imageURL}}">
        <div fxLayout="column">{{subStyle.name}}</div>
      </div>
    </div>
  </div>


</div>


<div *ngIf="currentSubStyle !== undefined" #scrollTo>

  <mat-divider class="mt-5"></mat-divider>

  <h2 class="mt-3" style="text-align: center;">Configuration</h2>

  <!-- Image & Dimensions-->
  <div fxLayout="row" class="mt-2 info">
    <div class="img-wrap" fxLayout="column">
      <img src="{{currentSubStyle.sizeImageURL}}" alt="">
    </div>

    <div fxLayout="column" style="justify-content: center;">
      <div><b>Rough Opening</b><br><br></div>

      <div fxLayout="row">
        <div fxLayout="column" class="size-cell">
          <div>Width (Inches)</div>

          <div fxLayout="row">
            <select [formControl]="dimXControl" [ngClass]="{'error': isRequiredError(dimXControl)}">
              <option value="">Please Select</option>
              <option *ngFor="let i of [].constructor(100); let idx = index" [value]="idx + 1">
                {{ idx + 1 }}
              </option>
            </select>

            <select [formControl]="dimXFractionControl" class="fraction">
              <option value="0">0</option>
              <option value="1/4">1/4</option>
              <option value="1/2">1/2</option>
              <option value="3/4">3/4</option>
            </select>
          </div>


          <span class="error-message" *ngIf="isRequiredError(dimXControl)">This is a required field</span>
        </div>
        <div fxLayout="column" class="size-cell">
          <div>Height (Inches)</div>

          <div fxLayout="row">
            <select [formControl]="dimYControl" [ngClass]="{'error': isRequiredError(dimYControl)}">
              <option value="">Please Select</option>
              <option *ngFor="let i of [].constructor(100); let idx = index" [value]="idx + 1">
                {{ idx + 1 }}
              </option>
            </select>

            <select [formControl]="dimYFractionControl" class="fraction">
              <option value="0">0</option>
              <option value="1/4">1/4</option>
              <option value="1/2">1/2</option>
              <option value="3/4">3/4</option>
            </select>
          </div>


          <span class="error-message" *ngIf="isRequiredError(dimYControl)">This is a required field</span>
        </div>

        <!--Size-->
        <div fxLayout="column" class="size-cell" *ngIf="currentSubStyle.extraDimension !== undefined">
          <div>{{currentSubStyle.extraDimension}} (Inches)</div>

          <div fxLayout="row">
            <select [formControl]="dimZControl" [ngClass]="{'error': isRequiredError(dimZControl)}">
              <option value="">Please Select</option>
              <option *ngFor="let i of [].constructor(100); let idx = index" [value]="idx + 1">
                {{ idx + 1 }}
              </option>
            </select>

            <select [formControl]="dimZFractionControl" class="fraction">
              <option value="0">0</option>
              <option value="1/4">1/4</option>
              <option value="1/2">1/2</option>
              <option value="3/4">3/4</option>
            </select>
          </div>


          <span class="error-message" *ngIf="isRequiredError(dimZControl)">This is a required field</span>
        </div>


      </div>
    </div>
  </div>


  <!--Glass-->
  <div>

    <mat-divider class="mt-2"></mat-divider>

    <h5 class="mt-1" style="text-align: center;">Glass</h5>

    <div fxLayout="row" style="width: 300px; margin: 20px auto;">
      <b class="mt-2">Type:</b>

      <mat-radio-group [formControl]="glassType">
        <mat-radio-button value="Regular">Regular</mat-radio-button>
        <mat-radio-button value="Tempered">Tempered</mat-radio-button>
      </mat-radio-group>

    </div>

    <div fxLayout="row" style="width: 300px; margin: 20px auto;">
      <b class="mt-2">OA:</b>

      <mat-radio-group [formControl]="glassOA" class="ml-2">
        <mat-radio-button value="1/2" class="ml-1">1/2</mat-radio-button>
        <mat-radio-button value="3/4" class="ml-2">3/4</mat-radio-button>
        <mat-radio-button value="1" class="ml-2">1</mat-radio-button>
      </mat-radio-group>

    </div>

    <div fxLayout="row" style="width: 300px; margin: 20px auto;">
      <b class="mt-2">Thickness:</b>

      <mat-radio-group [formControl]="glassThickness" class="ml-2">
        <mat-radio-button value="1/8" class="ml-1">1/8</mat-radio-button>
        <mat-radio-button value="3/16" class="ml-2">3/16</mat-radio-button>
        <mat-radio-button value="1" class="ml-2">1</mat-radio-button>
      </mat-radio-group>

    </div>

    <div fxLayout="row" style="width: 300px; margin: 20px auto;">
      <b class="mt-2">Spacer Color:</b>

      <mat-radio-group [formControl]="glassSpaceColor" class="ml-2">
        <mat-radio-button value="Black" class="ml-1">Black</mat-radio-button>
        <mat-radio-button value="White" class="ml-2">White</mat-radio-button>
      </mat-radio-group>

    </div>

  </div>




  <!--Frame-->
  <div>

    <mat-divider class="mt-2"></mat-divider>

    <h5 class="mt-1" style="text-align: center;">Frame</h5>

    <div fxLayout="row" class="mt-3" style="justify-content: center;">
      <div fxLayout="column">

        <div fxLayout="row" class="frame-wrap">
          <div fxLayout="column" [ngClass]="getFrameClass('1 3/8” Setback Nail Fin')" (click)="frameClick('1 3/8” Setback Nail Fin')">
            <img src="assets/images/Options/Fin_138.jpg">
            <div class="mt-3">1 3/8” Setback <br> Nail Fin</div>
          </div>

          <div fxLayout="column" [ngClass]="getFrameClass('Z-Bar Fin')" (click)="frameClick('Z-Bar Fin')">
            <img src="assets/images/Options/Z-Bar-Icon.jpg">
            <div class="mt-4">Z-Bar Fin</div>
          </div>

          <div fxLayout="column" [ngClass]="getFrameClass('Block Frame (No Fin)')" (click)="frameClick('Block Frame (No Fin)')">
            <img style="width: 130px;" src="assets/images/Options/Tuscany_Block_Frame.jpg">
            <div class="mt-5">Block Frame <br> (No Fin)</div>
          </div>

        </div>


      </div>
    </div>

  </div>


  <!--Grid-->
  <div>

    <mat-divider class="mt-4"></mat-divider>

    <h5 class="mt-1" style="text-align: center;">Grid</h5>

    <div fxLayout="row" class="mt-3" style="justify-content: center;">
      <div fxLayout="column">

        <div fxLayout="row" class="frame-wrap">
          <div fxLayout="column" style="justify-content: center;" [ngClass]="getGridClass('None')" (click)="gridClick('None')">
            <div class="mt-3">None</div>
          </div>

          <div fxLayout="column" [ngClass]="getGridClass('Colonial')" (click)="gridClick('Colonial')">
            <img src="assets/images/Options/Grids_Colonial.png">
            <div class="mt-3">Colonial</div>
          </div>

          <div fxLayout="column" [ngClass]="getGridClass('Perimeter Per Frame')" (click)="gridClick('Perimeter Per Frame')">
            <img style="width: 130px;" src="assets/images/Options/Grids_PerimeterPerFrame.png">
            <div class="mt-2">Perimeter Per Frame</div>
          </div>

        </div>

        <div fxLayout="row" *ngIf="gridType.getRawValue() != 'None' && gridType.getRawValue() != ''" style="margin: 20px auto;">
          <b class="mt-2">Size:</b>

          <mat-radio-group [formControl]="gridSize" class="ml-2">
            <mat-radio-button value="3/8" class="ml-1">3/8</mat-radio-button>
            <mat-radio-button value="1/2" class="ml-2">1/2</mat-radio-button>
            <mat-radio-button value="1" class="ml-2">1</mat-radio-button>
          </mat-radio-group>

        </div>

      </div>



    </div>

  </div>




  <mat-divider class="mt-5"></mat-divider>

  <div fxLayout="row" class="mt-3 mb-5" style="justify-content: center;">
    <button mat-raised-button (click)="onNext()">Save</button>
  </div>


</div>

